body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

#quiz-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#question {
    font-size: 20px;
    margin-bottom: 20px;
}

#options {
    margin: 0;
    padding: 0;
}

#options li {
    list-style-type: none;
    margin-bottom: 10px; /* Espacement entre les boutons */
}

#options button {
    width: 100%; /* Pleine largeur */
    padding: 10px 20px; /* Padding confortable pour le texte */
    background-color: #009578;
    color: white;
    border: 1px solid transparent; /* Ajouter pour maintenir la taille du bouton lors du hover */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Effet de transition pour le hover */
    margin-bottom: 10px;
}

#options button:hover {
    background-color: #007f5f;
    border-color: #005f4f; /* Changement subtil de bordure sur hover */
}

button#submit, button#prev, button#next {
    width: auto; /* Taille automatique */
    padding: 10px 15px;
    margin-top: 20px;
    background-color: #005f7f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button#submit:hover, button#prev:hover, button#next:hover {
    background-color: #004f6f;
}

#results {
    margin-top: 20px;
    font-size: 18px;
}
